// colors
$marine: #11c4d6; // main btn light color
$marine-darken-1: #05a1b1; // main btn dark color
$marine-darken-2: #0d8a9d; // input border in default state

$grey: #a8a7a7; // top menu items

$golden-lighten-1: #fdc54e; // input border on hover
$golden: #edb53d; // subheader

// others
$btn-height: 37px;