.reset-for-btn, .main-btn, .form-block__button, .nav-menu__mob-header .menu-toggler, .nav-menu__mob-header .arrow-right {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer; }

._center, .big-bug-img, .form-block, .form-block__inputs-wrapper, .list-block, .footer__logo {
  margin-left: auto;
  margin-right: auto; }

.txt-center, .form-block__title, .form-block__subtitle, .list-block__subtitle, .footer__copyright {
  text-align: center; }

.txt-light {
  font-weight: 300 !important; }

.txt-regular, .main-title, .form-block__title, .main-subtitle, .form-block__subtitle, .list-block__subtitle, .main-input, .form-block__input input, .form-block__hint {
  font-weight: 400 !important; }

.txt-bold, .main-btn, .form-block__button, .nav-menu__item, .form-block__input label {
  font-weight: 700 !important; }

.transition, .main-input, .form-block__input input, .main-btn, .form-block__button, #content, .nav-menu, .nav-menu__item, .nav-menu__item .caret-icon, .nav-menu__subitems, .nav-menu__mob-header .menu-toggler {
  transition: .2s; }

.main-title, .form-block__title {
  font-size: 67px;
  color: #fff; }

.main-subtitle, .form-block__subtitle, .list-block__subtitle {
  font-size: 30px;
  color: #edb53d; }

.main-input, .form-block__input input {
  border: 2px solid #0d8a9d;
  color: #11c4d6;
  background: rgba(0, 0, 0, 0.85);
  outline: none;
  font-size: 23px;
  border-radius: 30px;
  padding: 0 25px;
  height: 50px;
  width: 100%;
  cursor: pointer; }

.main-input:hover, .form-block__input input:hover {
  border: 2px solid #fdc54e;
  color: #fdc54e;
  box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.5); }

.main-btn, .form-block__button {
  background: #05a1b1;
  border-radius: 30px;
  padding: 0 35px;
  font-size: 18px;
  text-transform: uppercase;
  color: #111;
  height: 37px; }

body {
  font-family: 'Roboto Condensed', sans-serif;
  background: #000 url(../img/space-bg.png) top center no-repeat; }

@media (min-width: 1601px) {
  body {
    background-size: cover; } }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.header {
  background: #000;
  height: 43px; }
  .header__logo {
    display: block;
    float: left; }

#content {
  position: relative;
  left: 0; }

.move-left {
  left: -350px !important; }

.nav-menu {
  float: right;
  display: table; }
  .nav-menu__item {
    font-size: 15px;
    text-transform: uppercase;
    color: #a8a7a7;
    float: left;
    cursor: pointer;
    padding: 10px 16px; }
    .nav-menu__item .caret-icon {
      position: relative;
      top: 0;
      margin-left: 1px;
      display: inline-block;
      width: 16px;
      height: 15px;
      background: url(../img/icon-set.png) -52px -14px no-repeat;
      transform: rotate(180deg); }
  .nav-menu__item:hover {
    color: #11c4d6; }
  .nav-menu__subitems {
    height: 0;
    overflow: hidden;
    opacity: 1;
    position: relative;
    top: -30px;
    padding: 0;
    margin: 10px 0 0 30px; }
    .nav-menu__subitems li {
      list-style: none;
      margin-bottom: 10px; }
    .nav-menu__subitems li,
    .nav-menu__subitems a {
      color: #a8a7a7;
      text-transform: none;
      text-decoration: none;
      font-size: 14px; }
    .nav-menu__subitems li:hover,
    .nav-menu__subitems a:hover {
      color: #11c4d6; }
  .nav-menu__item_active {
    color: #11c4d6; }
    .nav-menu__item_active .caret-icon {
      transform: rotate(0deg);
      top: 3px; }
  .nav-menu__item_active .nav-menu__subitems {
    height: auto;
    overflow: visible;
    opacity: 1;
    top: 0; }
  .nav-menu__mob-header {
    display: none;
    position: relative; }
    .nav-menu__mob-header .menu-toggler {
      position: absolute;
      top: 10px;
      left: -40px;
      width: 26px;
      height: 22px;
      background: url(../img/icon-set.png) -102px -9px no-repeat; }
    .nav-menu__mob-header .menu-toggler:hover {
      background-position: -160px -9px; }
    .nav-menu__mob-header .brand-logo {
      display: block;
      float: left; }
    .nav-menu__mob-header .arrow-right {
      width: 12px;
      height: 22px;
      background: url(../img/icon-set.png) -219px -9px no-repeat;
      padding: 0;
      display: block;
      float: right;
      margin-top: 4px; }

@media (max-width: 700px) {
  .nav-menu {
    position: fixed;
    z-index: 100;
    right: -350px;
    width: 350px;
    height: 100%;
    background: #000; }
    .nav-menu_active {
      right: 0; }
    .nav-menu__item {
      font-size: 17px;
      float: none;
      margin-bottom: 15px; }
    .nav-menu__subitems li,
    .nav-menu__subitems a {
      font-size: 16px; }
    .nav-menu__mob-header {
      display: block;
      padding: 5px 13px;
      margin-bottom: 15px; } }
.big-bug-img {
  display: table;
  margin-top: 30px;
  margin-bottom: 60px; }

.form-block {
  display: table; }
  .form-block__title {
    margin-top: 0;
    margin-bottom: 12px; }
  .form-block__subtitle {
    margin-top: 0;
    margin-bottom: 30px; }
  .form-block__inputs-wrapper {
    width: 320px; }
  .form-block__input {
    margin-bottom: 10px;
    position: relative; }
    .form-block__input label {
      color: #111;
      font-size: 22px;
      position: absolute;
      top: 8px;
      left: -20px;
      cursor: pointer; }
  .form-block__button {
    margin-top: 23px;
    float: right;
    width: 150px;
    position: relative; }
  .form-block__button:hover {
    background: #0fabbb; }
  .form-block__button:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    border: 6px solid #11c4d6;
    border-top-width: 0;
    border-bottom-width: 0;
    border-color: transparent #11c4d6 transparent transparent;
    border-radius: 50%;
    width: 46px;
    height: 37px; }
  .form-block__hint {
    color: #fff;
    font-size: 17px;
    float: left;
    margin-top: 30px;
    opacity: .95; }

.list-block {
  width: 650px;
  margin-top: 150px; }
  .list-block__subtitle {
    margin-top: 0;
    margin-bottom: 30px; }
  .list-block li {
    list-style-image: url(../img/bullet.png);
    color: rgba(255, 255, 255, 0.85);
    font-size: 17px;
    margin-bottom: 11px; }

@media (max-width: 700px) {
  .list-block {
    width: 100%;
    padding: 0 30px; } }
.footer {
  margin-top: 200px; }
  .footer__logo {
    display: table; }
  .footer__copyright {
    margin-top: 7px;
    margin-bottom: 30px;
    color: #3f3f3f;
    font-size: 15px; }

/*# sourceMappingURL=all.css.map */
